*{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}


div.head{
	text-align: center;
	
	/*Solution*/
	margin: 0 auto;
	width: 500px;
	height: auto;
	padding: 10px;
	border:1px solid #D4D5D6; /*gray*/
}

div.message-title{
	/*Solution*/
	border-bottom: 1px solid #D4D5D6; /*gray*/
	/*padding:20px;*/
	margin-bottom: 5px; 
}

div.paragraph{
	color: white;
	background-color: #0084FF; /*blue*/

	/*Solution*/
	border-radius: 50px; 
	padding: 30px; 
}

div.left{
	text-align: left;
}

div.right {
	text-align:right;
}

div img	{
	/*Solution*/
	width: 50px;
	padding: 5px;
	border-radius: 50px;
	border: 2px solid white;
}

div span {
	color: gray;
}

div.message-form{
	/*Solution*/
	padding:10px;
}

div.message-form textarea{
	/*Solution*/
	border-radius: 10px;
}

div.message-form button{
	background-color: #0084FF; /* Blue */
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	
	/*Solution*/
	border: none;
	padding: 15px 32px;
	display: inline-block;
}